#aboutUs {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 3rem;
  color: var(--text-color);
  & img {
    width: 50%;
    align-self: center;
  }
  & h3 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 900px) {
  #aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 2rem 3rem;

    & div {
      margin: auto 0;
    }
    & img {
      width: 70%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 1150px) {
  #aboutUs {
    & img {
      width: 60%;
    }
  }
}
@media screen and (min-width: 1500px) {
  #aboutUs {
    & div {
      & p {
        padding: 0 5rem;
        line-height: 2rem;
      }
    }
  }
}
