.main-btn {
  &:hover,
  &:focus {
    outline: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
  padding: 1.1rem 2rem;
  width: 45%;
  background-color: var(--title-color);
  transition: all 0.75s ease-in-out;
  border-radius: 10px;
  &:hover {
    background-color: var(--subtitle-color);
  }
  & span,
  & i {
    color: var(--main-bg-color);
  }
}
