#custom-button {
  background-color: var(--text-color);
  transition: 0.5s ease-in;
}

#custom-button:hover {
  background-color: var(--subtitle-color);
  border-color: var(--text-color);
  color: var(--main-bg-color);
}
