#Dashboard-content {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  justify-content: center;

  text-align: center;
  margin-left: 18rem;
  overflow: auto;
  height: 88vh;
  width: 100%;
  #graphs {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-self: center;
    overflow: hidden;

    .graph {
      height: 47vh;
      width: 480px;
      background-color: var(--text-color);
      border-radius: 2rem;
      padding-top: 3rem;
      div {
        display: flex;
        width: 70%;
        height: 70%;
        background-color: var(--subtitle-color);
        align-self: center;
        margin: 2rem auto;
        border-radius: 1.2rem;
      }
    }
  }
}
