#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.78rem;
  text-align: center;
}
#main-title {
  color: var(--title-color);
  font-size: var(--biggest-font-size);
  margin-bottom: 0.5rem;
}
#logo-main {
  height: 25rem;
}

#hero-description {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  color: var(--subtitle-color);
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
}
