.card-seed {
  background-color: var(--text-color);
  margin: 1rem auto;
  width: 80%;
  height: 24rem;
  padding: 0.75rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  -webkit-box-shadow: 3px 6px 74px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 6px 74px 2px rgba(0, 0, 0, 1);
  box-shadow: 3px 6px 74px 2px rgba(0, 0, 0, 1);
  &:hover,
  &:focus {
    h3 {
      transform: translateY(-240px);
    }
    h4 {
      transform: translateY(-20px);
      opacity: 1;
    }
    #strain-card-img {
      opacity: 1;
      transform: translateY(30px);
    }
  }
  & #strain-card-img {
    opacity: 0;
    transition: 0.3s ease-in;
    transform: translateY(80px);
  }
  h3 {
    color: var(--title-color) !important;
    transition: 0.3s ease-in;
    transform: translateY(-150px);
  }
  h4 {
    transform: translateY(70px);
    transition: 0.3s ease-in;
    opacity: 0;
    color: var(--title-color);
    font-weight: var(--font-medium);
    padding: 0 0.75rem;
    text-align: center;
  }
}

@media only screen and (min-width: 660px) {
  .card-seed {
    &:hover,
    &:focus {
      h3 {
        transform: translateY(-230px);
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  .card-seed {
    &:hover,
    &:focus {
      h3 {
        transform: translateY(-200px);
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .card-seed {
    width: 60%;
    &:hover,
    &:focus {
      h3 {
        transform: translateY(-220px);
      }
    }
  }

  #strain-card-img {
    height: 15rem;
  }
}
